services:
  - type: web
    name: telegram-bot
    env: docker
    plan: free
    healthCheckPath: /
    envVars:
      - key: API_ID
        sync: false
      - key: API_HASH
        sync: false
      - key: BOT_TOKEN
        sync: false
      - key: CHANNEL_ID
        sync: false
      - key: SESSION_STRING
        sync: false
